<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake App (Vue.js)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="sample">
            <h2>Cake builder</h2>
            <hr>
            <button type="button" class="btn btn-primary" @click="addLayer()">Add layer</button>
            <hr>
            <div class="row">
                <div class="col col-sm-6">
                    <div class="cake">
                        <div class="layer" :class="'layer-' + layer.type" :style="{ height: layer.height * 10 + 'px'}" v-for="(layer, i) in layers" @click="changeHeight(i, 1)" @contextmenu.prevent="changeHeight(i, -1)">
                            {{layer.type}}
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <table class="table table-bordered" v-show="hasLayers">
                        <tr>
                            <th>Type</th>
                            <th>Height</th>
                            <th>Actions</th>
                        </tr>
                        <tr v-for="(layer, i) in layers">
                            <td>
                                <select class="form-control" v-model="layer.type">
                                    <option :value="key" v-for="(lt, key) in layersTypes">
                                        {{ lt.label }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" v-model.number="layer.height">
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" @click="deleteLayer(i)">Delete layer</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="alert alert-succes price" v-show="hasLayers">
                <div class="price">
                    {{ total }}
                    руб.
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
